body {
  background-color: rgb(115, 115, 255);
}
.Input {
  color: black;
  width: 40%;
  height: 40%;
  text-align: center;
  margin-left: 500px;
  background-color: black;
}
#inputFelt {
  background-color: black;
  outline: 0px solid transparent;
  width: 98.8%;
  height: 100%;
  color: gray;
  margin-right: 400px;
}
#outputFelt {
  background-color: black;
  color: rgb(38, 255, 38);
}
#liste {
  background-color: black;
  margin-top: 0px;
  margin-right: 700px;
  color: rgb(38, 255, 38);
}
#Terminal {
  background-color: black;
  color: rgb(38, 255, 38);
  text-align: center;
}
